<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Overview of my college career">
    <meta name="author" content="Conor Dewey">

    <title>College Career Visualization</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <title>College Career Visualization</title>
    <!-- Custom styles for this template -->
    <style>

    circle {
        stroke: #05668D;
        fill: white;
        opacity: 0.6;
        stroke-width: 2px;
    }

    path {
        fill: none;
        stroke: #05668D;
        opacity: 0.6;
        stroke-width: 2px;
    }

    </style>

  </head>

  <body>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v4.min.js"></script>

    <script>

    var vWidth = 300;
    var vHeight = 200;

    // Prepare our physical space
    var g = d3.select('svg').attr('width', vWidth).attr('height', vHeight)
        .select('g').attr('transform', 'translate(' + vWidth/2 + ',' + vHeight/2 + ')');

    // Get the data from our CSV file
    d3.csv('flare.csv', function(error, vCsvData) {
        if (error) throw error;

        vData = d3.stratify()(vCsvData);
        drawViz(vData);
    });

    function drawViz(vData) {
        // Declare d3 layout
        var vLayout = d3.cluster().size([2 * Math.PI, Math.min(vWidth, vHeight)/2 - 10]); // margin!

        // Layout + Data
        var vRoot = d3.hierarchy(vData);
        var vNodes = vRoot.descendants();
        var vLinks = vLayout(vRoot).links();

        // Draw on screen
        g.selectAll('path').data(vLinks).enter().append('path')
            .attr('d', d3.linkRadial()
                .angle(function (d) { return d.x; })
                .radius(function (d) { return d.y; }));

        g.selectAll('circle').data(vNodes).enter().append('circle')
            .attr('r', 10)
            .attr("transform", function (d) { return "translate(" + d3.pointRadial(d.x, d.y) + ")"; });
    }

    </script>

  </body>

</html>
